{% extends 'main.html' %} {% block content %}
<!-- Main Body -->
<main class="px-custom py-10 space-y-10">
  <div>
    <h1 class="text-4xl font-bold mb-5">Contact Jalgale</h1>
    <div class="flex flex-col md:flex-row gap-5 justify-between">
      <div>
        <h2 class="text-xl font-semibold mb-2">Location</h2>
        <p>
          <i class="fa-solid fa-location-dot mr-2"></i>{{siteSettings.address}}
        </p>
      </div>
      <div>
        <h2 class="text-xl font-semibold mb-2">Email</h2>
        <p><i class="fa-solid fa-envelope mr-2"></i>{{siteSettings.email}}</p>
      </div>
      <div>
        <h2 class="text-xl font-semibold mb-2">Phone</h2>
        <p><i class="fa-solid fa-phone mr-2"></i>{{siteSettings.phone}}</p>
      </div>
    </div>
  </div>
  <div>
    <h1 class="text-xl font-semibold mb-5">Send Message</h1>
    <form
      class="flex flex-col gap-5"
      action="{% url 'home:contact-us' %}"
      method="POST"
    >
      {% csrf_token %}
      <div class="space-y-2">
        <label for="name">Your Name</label>
        <div class="bg-primary/10 p-3 rounded-md">
          <input
            class="outline-none bg-transparent w-full"
            type="text"
            name="name"
            required
          />
        </div>
      </div>
      <div class="space-y-2">
        <label for="email">Your Email</label>
        <div class="bg-primary/10 p-3 rounded-md">
          <input
            class="outline-none bg-transparent w-full"
            type="text"
            name="email"
            required
          />
        </div>
      </div>
      <div class="space-y-2">
        <label for="message">Your Message</label>
        <div class="bg-primary/10 p-3 rounded-md">
          <textarea
            class="outline-none bg-transparent w-full"
            name="message"
            cols="30"
            rows="5"
            required
          ></textarea>
        </div>
      </div>
      <div>
        <button
          class="bg-primary text-white px-4 py-3 rounded-lg hover:opacity-90"
          type="submit"
        >
          SEND
        </button>
      </div>
    </form>
  </div>
</main>
<!-- Main Body ends -->

{% endblock content %}
