{% extends 'main.html' %} {% block content %}


<!-- Featured image section -->
<!-- <div class="relative">
  <div
    class="absolute px-custom text-center flex gap-5 flex-col items-center justify-center w-full h-full bg-black/70 text-white"
  >
    <h1 class="text-4xl font-bold">Jaljal Nirmal Sewa</h1>
    <p>We provide best quality services. Build your dream sooner or later!</p>
    <div class="flex gap-5">
      <a href="{% url 'home:contact-us' %}">
        <button
          class="bg-primary text-white px-3 py-2 rounded-lg hover:opacity-90"
        >
          Contact Us
        </button></a
      >
      <a href="{% url 'home:about-us' %}">
        <button
          class="bg-primary text-white px-3 py-2 rounded-lg hover:opacity-90"
        >
          Know More
        </button>
      </a>
    </div>
  </div>
  <img
    class="h-[80vh] w-full object-cover"
    src="static/images/banner.jpg"
    alt="jaljale featured images"
  />
</div> -->
<div class="h-[80vh]">
  <!-- Swiper Slider -->
<div class="swiper mySwiper">
 <div class="absolute z-10 px-custom text-center flex gap-5 flex-col items-center justify-center w-full h-full bg-black/60 text-white">
   <h1 class="text-4xl font-bold">Construction</h1>
   <p class="px-5 md:px-0">We provide best quality services. Build your dream sooner or later!</p>
   <div class="flex gap-5">
    <button
    class="bg-primary text-white px-3 py-2 rounded-lg hover:opacity-90"
  >
    Contact Us
  </button>
    <button
    class="bg-primary text-white px-3 py-2 rounded-lg hover:opacity-90"
  >
    Know More
  </button>
   </div>
  </div>
 <div class="swiper-wrapper">
   {%for banner in banners %}
   <div class="swiper-slide">
     <img
       class="w-full object-cover"
       src="{{banner.image.url}}"
       alt="{{banner.title}}"
     />
   </div>
    {% endfor %}
 </div>
 <!-- Next and previous buttons -->
 <div class="swiper-button-next"></div>
 <div class="swiper-button-prev"></div>
 <div class="swiper-pagination"></div>
</div>
</div>


<main class="px-custom my-20 space-y-16">
  <!-- Description starts here -->
  <div class="space-y-5">
    <h1 class="text-4xl font-bold">Welcome to Jaljale</h1>
    <p>
      {{aboutUs.description}}
    </p>
  </div>

  <!-- Jaljale Projects section -->
  <div class="space-y-5">
    <div class="flex items-center justify-between">
      <div>
        <h1 class="text-4xl font-bold mb-5">Explore Jaljale Projects</h1>
        <p>
          We have a team of talented professionals which utilizes its innovative
          mind and excellent ideas in providing construction services in Nepal.
          Our service is known for proper planning, timely execution and high
          reliability. Our construction services are provided by our team of
          design engineer, construction manager, construction engineer and
          project architect. They work hard to meet the diverse requirements of
          the customers.
        </p>
      </div>
    </div>
    <div
      class="rounded-md grid gap-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
    >
    {% for project in projects %}
      <!-- Project 1 -->
      <div
        class="bg-primary/10 rounded-md cursor-pointer group hover:scale-[1.01] transition-all duration-200"
      >
      <a href="{% url 'project:view_project' project.id %}">
        <img
        class="rounded-t-md group-hover:scale-[1.01] h-4/5"
        src="{{project.image.url}}"
        alt="{{project.name}}"
        
      />
      <p class="p-3 text-lg font-semibold">{{project.name}}</p>
      </a>

      </div>
      {% endfor %}

      <button
        class="bg-primary text-white px-3 py-2 rounded-lg hover:opacity-80"
      >
        <a href="{% url 'project:completed_projects' %}">View All Projects</a>
      </button>
    </div>
  </div>
  </div>
</main>
{% endblock %}
