{% extends 'main.html' %} {% block content %}
<main class="px-custom py-10 space-y-10">
  <!-- Our services -->
  <div class="space-y-5">
    <h1 class="text-4xl font-bold">Our Services</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odio veniam
      quis! Tempore rerum, dolores officia eaque reprehenderit quidem aut,
      laboriosam, veritatis magnam distinctio at! Nulla possimus tempore
      molestiae omnis enim. Non at, ex odit aspernatur nesciunt ipsa velit iure.
    </p>
    <div class="grid gap-5 md:grid-cols-2">
      <div class="space-y-5">
        {% for service in service_col2 %}
        <div>
          <h2 class="text-2xl font-semibold mb-3">{{service.title}}</h2>
          <p>{{service.description}}</p>
        </div>
        {% endfor %}
      </div>

      <div>
        <div class="space-y-5">
          {% for service in service_col2 %}
          <div>
            <h2 class="text-2xl font-semibold mb-3">{{service.title}}</h2>
            <p>{{service.description}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
