{% extends 'main.html' %} {% block content %}

<main class="px-custom py-10 space-y-10">
  <div class="">
    <h1 class="text-4xl font-bold mb-3">{{project.name}}</h1>
    <div class="grid gap-5 md:gap-10 md:grid-cols-12">
      <div class="md:col-span-6">
        <img class="rounded-md" src="{{project.image.url}}" alt="" srcset="" />
      </div>
      <div class="md:col-span-6 flex flex-col">
        <h1 class="text-3xl font-semibold border-b-2 py-3 mb-5">
          Projects Highlights
        </h1>
        <ul class="list-disc list-inside">
          <li>
            <strong>Employer's name & Address :</strong>
            {{project.employee_name}}, {{project.employee_address}}
          </li>
          <li>
            <strong>Contract Amount (NRs) :</strong> {{project.contract_amount}}
          </li>
          <li><strong>Contract Start :</strong> {{project.contract_start}}</li>
          <li>
            <strong>Date of completion :</strong> {{project.contract_end}}
          </li>
          <li>
            <strong>Project Location :</strong> {{project.project_location}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}
